<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="css/main.css")
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="css/font-awesome.min.css")
  title Document
body
  nav.primary-navbar.navbar.navbar-default.navbar-condensed.navbar-hover
    .container
      .navbar-header
        a(href="#") Upwork
      .collapse.navbar-collapse
        ul.nav.navbar-nav(role="menu")
          li
            a(href="") Lorem
          li
            a(href="") Ipsum
          li
            a(href="") Lorem
          li
            a(href="") Ipsum
        .form-group
          .input-group.input-group-search
            .input-group-addon
              i.fa.fa-cog
              i.fa.fa-cog
            input(type="text", placeholder="Find Jobs")
        ul.nav.navbar-nav.navbar-right
          li
            a(href="")
              i.fa.fa-question
          li
            a(href="")
              i.fa.fa-bell
          li
            a(href="")
              i.fa.fa-circle
              | Vladiyar N
              i.fa.fa-arrow-down
  .container
    .row
      .col-md-3
        h4 Job Search
        ul
          li
            input(type="text")
          li
            input(type="text")
          li
            input(type="text")
          li
            input(type="text")
          li
            input(type="text")
          li
            input(type="text")
          li
            input(type="text")
          li
            input(type="text")
          li
            input(type="text")
          li
            input(type="text")
      .col-md-9
        ul
          li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, expedita veritatis sed nihil maxime labore ex maiores quos ea. Iusto neque et vitae obcaecati consequuntur eius voluptatibus maxime, vel tenetur.
          li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur deleniti corrupti eius consectetur, enim totam quia beatae ea modi dicta illo quos, esse, velit placeat, aperiam animi ipsam asperiores itaque.
          li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea, harum numquam, sequi facere quis vel reprehenderit ullam quos quas, rem, dolor? Saepe dolores in reprehenderit veniam provident iure et.
          li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui deserunt error minus, animi ducimus tenetur impedit suscipit voluptatibus hic magnam quia modi enim rem, quaerat amet, eaque sed ea, excepturi.
          li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus veritatis laborum consequuntur aspernatur possimus officiis, amet architecto impedit repellat tenetur, aliquid deserunt perspiciatis illo sed odit inventore, aliquam quibusdam dicta.
          li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam consequuntur quidem recusandae magnam voluptates non sunt nostrum quod nulla magni explicabo delectus, nam, ad odio quam fugiat blanditiis necessitatibus molestiae.
          li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae suscipit neque enim repellendus totam rem natus. Inventore sint illo saepe tempore veritatis quas, officiis natus, similique perspiciatis neque deleniti at.
          li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ipsam odio aut pariatur dolore maxime officia, quo similique culpa alias rerum dolores, quisquam enim commodi tempore maiores libero quas tempora.
          li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe odit possimus, cumque quam harum dolore modi inventore nihil voluptates eligendi eveniet rem error. Quam, ab dolores quae velit. Aliquid, illum?
          li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim cum aut, optio. Inventore nostrum doloribus unde molestiae accusantium neque veniam sequi? Ab, repellat in incidunt quia at reprehenderit quas nam!
